In [1]:
import pandas as pd
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../data/sold_vic_500_regions.csv')

In [3]:
# change the sold date into datatime and separate year and month for late use 
df['sold_Date'] = pd.to_datetime(df['sold_Date'])
df['year'] = df['sold_Date'].dt.year
df['month'] = df['sold_Date'].dt.month

In [4]:
df

,id,address,suburb,type,sold_By,sold_Date,price,beds,baths,parking,size_in_m2,distance,year,month
0,2016970888,384 Johnston StreetABBOTSFORD VIC 3067,abbotsford-vic-3067,House,Sold at auction,2021-05-22,1010000,2.0,1.0,2.0,NaN,4.1708,2021.0,5.0
1,2016970804,9/18 Nicholson StreetABBOTSFORD VIC 3067,abbotsford-vic-3067,Apartment / Unit / Flat,Sold prior to auction,2021-05-19,535000,2.0,1.0,1.0,NaN,4.1708,2021.0,5.0
2,2016950168,1/30 Abbotsford StreetABBOTSFORD VIC 3067,abbotsford-vic-3067,Apartment / Unit / Flat,Sold at auction,2021-05-15,476000,1.0,1.0,1.0,NaN,4.1708,2021.0,5.0
3,2016941525,610/88 Trenerry CrescentABBOTSFORD VIC 3067,abbotsford-vic-3067,Apartment / Unit / Flat,Sold prior to auction,2021-05-13,750000,2.0,2.0,1.0,NaN,4.1708,2021.0,5.0
4,2016765516,E601/11 Flockhart StreetABBOTSFORD VIC 3067,abbotsford-vic-3067,Apartment / Unit / Flat,Sold by private treaty,2021-05-13,458000,2.0,1.0,1.0,NaN,4.1708,2021.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350316,2016303260,3 Tamarack StreetKALKALLO VIC 3064,yuroke-vic-3063,House,Sold by private treaty,2020-12-29,700000,4.0,2.0,2.0,448.0,25.3637,2020.0,12.0
350317,2016483713,30 Greaves CrescentKALKALLO VIC 3064,yuroke-vic-3063,Vacant land,Sold by private treaty,2020-12-29,351000,NaN,NaN,NaN,606.0,25.3637,2020.0,12.0
350318,2016713582,19 Cardamon AvenueMICKLEHAM VIC 3064,yuroke-vic-3063,House,Sold by private treaty,2020-12-29,615000,4.0,2.0,2.0,NaN,25.3637,2020.0,12.0
350319,2016435569,6 Oresund StreetCRAIGIEBURN VIC 3064,yuroke-vic-3063,Vacant land,Sold by private treaty,2020-12-28,493000,NaN,NaN,NaN,860.0,25.3637,2020.0,12.0
350320,2016605366,43 Serendip CrescentGREENVALE VIC 3059,yuroke-vic-3063,House,Sold by private treaty,2020-12-28,790000,4.0,2.0,2.0,NaN,25.3637,2020.0,12.0

## Load Data

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@this_postgres')
name = 'realestate'
df.to_sql(name, engine, if_exists='replace')

In [6]:
import psycopg2 as pg2
import pandas as pd

con = pg2.connect(host='this_postgres',
                  user='postgres',
                  password='password',
                  database='postgres')
con.autocommit = True

cur = con.cursor()

def select(sql):
    return pd.read_sql(sql,con)

## Calculate Affordability In Each Region

In [7]:
'''
Following function calculate the affordability percentage in each region.
The first part is to filter the number of sold apartments in May/2021 and price is lower than 800k.
The second part is to filter the number of sold apartments in May/2021.
The third part is to calculate the percentage.
'''
def get_affordable_apratment_vic():
    select1_vic = '''
    with inrange_arpartment as (
        select count('id') as in_apartment, suburb
        from realestate
        where suburb like '%-vic-%'
          and type like 'Apartment%'
          and price <= 800000
          and beds = 2
          and year = 2021
          and month  = 05
        group by suburb
        order by 1 desc),
         joined as (
             select count('id') as sold_apartment, suburb
             from realestate
             where suburb like '%-vic-%'
               and type like 'Apartment%'
               and year = 2021
               and month = 05
             group by suburb
             order by 1 desc
         ),
         inner_joined as (
             select inrange_arpartment.in_apartment,
                    joined.sold_apartment,
                    (inrange_arpartment.in_apartment * 100 / joined.sold_apartment) as percentage,
                    inrange_arpartment.suburb
             from inrange_arpartment
                      inner join joined
                                 on joined.suburb = inrange_arpartment.suburb
             where in_apartment >=3 
         )
    select *
    from inner_joined
    order by percentage desc
    '''
    return select(select1_vic)

In [8]:
affordability_suburbs = get_affordable_apratment_vic()
affordability_suburbs

     in_apartment  sold_apartment  percentage                   suburb
0               8               8         100  brunswick-west-vic-3055
1               3               3         100        hadfield-vic-3046
2               3               3         100        seabrook-vic-3028
3               4               4         100        bundoora-vic-3083
4               5               5         100       footscray-vic-3011
..            ...             ...         ...                      ...
103             3              12          25    notting-hill-vic-3168
104             3              13          23          ormond-vic-3204
105             3              14          21       the-basin-vic-3154
106             3              14          21         boronia-vic-3155
107             3              15          20  port-melbourne-vic-3207

[108 rows x 4 columns]

In [9]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@this_postgres')
name = 'affordability_suburbs'
affordability_suburbs.to_sql(name, engine, if_exists='replace')

In [10]:
affordability_suburbs.to_csv("../data/affordability_suburbs.csv",index=False)

In [11]:
# Inner join source data and affordability_suburbs for later use 
suburbs_list = affordability_suburbs['suburb'].tolist()
df_affordable = df[df['suburb'].isin(suburbs_list)]
df_affordable

,id,address,suburb,type,sold_By,sold_Date,price,beds,baths,parking,size_in_m2,distance,year,month
0,2016970888,384 Johnston StreetABBOTSFORD VIC 3067,abbotsford-vic-3067,House,Sold at auction,2021-05-22,1010000,2.0,1.0,2.0,NaN,4.1708,2021.0,5.0
1,2016970804,9/18 Nicholson StreetABBOTSFORD VIC 3067,abbotsford-vic-3067,Apartment / Unit / Flat,Sold prior to auction,2021-05-19,535000,2.0,1.0,1.0,NaN,4.1708,2021.0,5.0
2,2016950168,1/30 Abbotsford StreetABBOTSFORD VIC 3067,abbotsford-vic-3067,Apartment / Unit / Flat,Sold at auction,2021-05-15,476000,1.0,1.0,1.0,NaN,4.1708,2021.0,5.0
3,2016941525,610/88 Trenerry CrescentABBOTSFORD VIC 3067,abbotsford-vic-3067,Apartment / Unit / Flat,Sold prior to auction,2021-05-13,750000,2.0,2.0,1.0,NaN,4.1708,2021.0,5.0
4,2016765516,E601/11 Flockhart StreetABBOTSFORD VIC 3067,abbotsford-vic-3067,Apartment / Unit / Flat,Sold by private treaty,2021-05-13,458000,2.0,1.0,1.0,NaN,4.1708,2021.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337078,2016821569,14 Elvie StreetDONCASTER EAST VIC 3109,warrandyte-vic-3113,House,Sold at auction,2021-03-20,1650000,3.0,1.0,1.0,728.0,27.4398,2021.0,3.0
337079,2016815935,13 Tyrol CourtDONCASTER EAST VIC 3109,warrandyte-vic-3113,House,Sold at auction,2021-03-20,1389000,4.0,2.0,2.0,650.0,27.4398,2021.0,3.0
337080,2016817737,7 Ireland AvenueDONCASTER EAST VIC 3109,warrandyte-vic-3113,House,Sold at auction,2021-03-20,1436000,4.0,2.0,2.0,897.0,27.4398,2021.0,3.0
337081,2016832857,12 Dehnert StreetDONCASTER EAST VIC 3109,warrandyte-vic-3113,House,Sold at auction,2021-03-20,2016000,5.0,3.0,2.0,745.0,27.4398,2021.0,3.0
337082,2016814743,6 Belinda CrescentDONCASTER EAST VIC 3109,warrandyte-vic-3113,House,Sold at auction,2021-03-20,1220000,3.0,1.0,2.0,650.0,27.4398,2021.0,3.0

## Risk Management

In [12]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@this_postgres')
name = 'suburbs_affordable'
df_affordable.to_sql(name, engine, if_exists='replace')

## Calculate the price growth and decline reate in May/2021 compare with September/2020

In [13]:
'''
Following function calculate the price change in May/2021 compare with September/2020
The first part is to filter the apartments in Victoria
The second part is to filter the sold apartments in May/2021.
The third part is to filter the sold apartments in September/2021
The final part is to compare the average price of 05/2021 and 09/2021 in each suburbs 
'''
def get_worst_time_comaprison_2019_2020():
    select2_vic = '''
    with grouped as (
    select suburb,year,month,avg(price) as avg_price
    from suburbs_affordable
    where suburb like '%-vic-%'
          and type like 'Apartment%'
          and beds = 2
    group by 1,2,3),
    
    grouped_2021_05 as(
    select *
    from grouped
    where year = 2021 and month = 05),
    
    grouped_2020_09 as(
    select *
    from grouped
    where year = 2020 and month = 09
    ),
        
    joined as(
    select grouped_2020_09.*, grouped_2021_05.avg_price as avg_price_5_2021
    from grouped_2020_09
    inner join grouped_2021_05
    on grouped_2020_09.suburb = grouped_2021_05.suburb)
    
    
    select *, round((avg_price_5_2021 - avg_price)*100/avg_price,2) as percentage_2021_2020
    from joined
    order by percentage_2021_2020 desc
    '''
    return select(select2_vic)

In [14]:
sold_falling_comapre = get_worst_time_comaprison_2019_2020()
sold_falling_comapre

,suburb,year,month,avg_price,avg_price_5_2021,percentage_2021_2020
0,carnegie-vic-3163,2020.0,9.0,393750.000000,655571.428571,66.49
1,balaclava-vic-3183,2020.0,9.0,520625.000000,757833.333333,45.56
2,footscray-vic-3011,2020.0,9.0,350000.000000,491800.000000,40.51
3,park-orchards-vic-3114,2020.0,9.0,442500.000000,619727.272727,40.05
4,bentleigh-vic-3204,2020.0,9.0,580000.000000,740583.333333,27.69
5,moorabbin-airport-vic-3194,2020.0,9.0,531714.285714,672980.000000,26.57
6,notting-hill-vic-3168,2020.0,9.0,543000.000000,679731.333333,25.18
7,south-yarra-vic-3141,2020.0,9.0,727500.000000,910656.250000,25.18
8,st-kilda-vic-3182,2020.0,9.0,546500.000000,683423.076923,25.05
9,burnley-vic-3121,2020.0,9.0,671250.000000,790222.222222,17.72
10,port-melbourne-vic-3207,2020.0,9.0,697500.000000,817200.000000,17.16
11,docklands-vic-3008,2020.0,9.0,558400.000000,647142.857143,15.89
12,bundoora-vic-3083,2020.0,9.0,387000.000000,444250.000000,14.79
13,reservoir-vic-3073,2020.0,9.0,527000.000000,602502.733333,14.33
14,boronia-vic-3155,2020.0,9.0,550000.000000,614333.333333,11.70
15,ripponlea-vic-3185,2020.0,9.0,710000.000000,769520.000000,8.38
16,braeside-vic-3195,2020.0,9.0,668500.000000,722722.222222,8.11
17,balnarring-vic-3926,2020.0,9.0,410000.000000,439360.000000,7.16
18,box-hill-vic-3128,2020.0,9.0,529000.000000,545642.857143,3.15
19,moonee-ponds-vic-3039,2020.0,9.0,557500.000000,572200.000000,2.64
20,seabrook-vic-3028,2020.0,9.0,440000.000000,440333.333333,0.08
21,seaholme-vic-3018,2020.0,9.0,640000.000000,605714.285714,-5.36
22,altona-vic-3018,2020.0,9.0,640000.000000,605714.285714,-5.36
23,caulfield-east-vic-3145,2020.0,9.0,640000.000000,600678.571429,-6.14
24,south-kingsville-vic-3015,2020.0,9.0,570000.000000,497666.666667,-12.69
25,clarinda-vic-3169,2020.0,9.0,543000.000000,431300.000000,-20.57

In [15]:
sold_falling_comapre.to_csv("../data/2021_2020_solc_comapre.csv",index=False)

In [16]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@this_postgres')
name = 'risk_compare_with_May'
sold_falling_comapre.to_sql(name, engine, if_exists='replace')

In [17]:
# Inner join source data and affordability_suburbs for later use 
suburbs_list = sold_falling_comapre['suburb'].tolist()
df_compare = df[df['suburb'].isin(suburbs_list)]
df_compare

,id,address,suburb,type,sold_By,sold_Date,price,beds,baths,parking,size_in_m2,distance,year,month
8820,2017044258,7/37 Bent StreetALTONA VIC 3018,altona-vic-3018,Townhouse,Sold by private treaty,2021-06-01,810000,3.0,2.0,2.0,NaN,16.8866,2021.0,6.0
8821,2016977901,168 Maidstone StreetALTONA VIC 3018,altona-vic-3018,House,Sold by private treaty,2021-05-31,850000,3.0,2.0,1.0,419.0,16.8866,2021.0,5.0
8822,2016962993,3/31 Upton StreetALTONA VIC 3018,altona-vic-3018,Apartment / Unit / Flat,Sold prior to auction,2021-05-31,810000,3.0,2.0,2.0,NaN,16.8866,2021.0,5.0
8823,2016962922,15 Purnell StreetALTONA VIC 3018,altona-vic-3018,House,Sold prior to auction,2021-05-29,1180000,3.0,1.0,4.0,700.0,16.8866,2021.0,5.0
8824,2016973280,1/19 Romawi StreetALTONA VIC 3018,altona-vic-3018,Apartment / Unit / Flat,Sold prior to auction,2021-05-28,700000,2.0,1.0,1.0,NaN,16.8866,2021.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305298,2014377030,17/17 Robe StreetST KILDA VIC 3182,st-kilda-vic-3182,Apartment / Unit / Flat,Sold by private treaty,2018-07-13,650000,2.0,2.0,1.0,NaN,3.5319,2018.0,7.0
305299,2014418429,3/33 Neptune StreetST KILDA VIC 3182,st-kilda-vic-3182,Apartment / Unit / Flat,Sold by private treaty,2018-07-11,635000,2.0,1.0,1.0,NaN,3.5319,2018.0,7.0
305300,2014424105,35/233 Canterbury RoadST KILDA VIC 3182,st-kilda-vic-3182,Apartment / Unit / Flat,Sold at auction,2018-07-07,352000,1.0,1.0,1.0,NaN,3.5319,2018.0,7.0
305301,2014445904,15 Octavia StreetST KILDA VIC 3182,st-kilda-vic-3182,House,Sold by private treaty,2018-07-07,1560000,3.0,2.0,3.0,NaN,3.5319,2018.0,7.0
305302,2014453737,1/17 Redan StreetST KILDA VIC 3182,st-kilda-vic-3182,Apartment / Unit / Flat,Sold at auction,2018-07-05,569000,2.0,1.0,1.0,NaN,3.5319,2018.0,7.0

In [18]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@this_postgres')
name = 'suburbs_compare_after_092020'
df_compare.to_sql(name, engine, if_exists='replace')

In [19]:
#  The follwoing SQL is to get apartment average price change month on month from 09/2020 to 05/2021
#  The first part is to select properties after 31/08/2020
#  THe second part is to select apartments and calculate average price grouped by suburbs
#  The following part is to left join grouped tables
select3_vic = '''
 
    with select_month as (
        select *,
               to_char("sold_Date", 'YYYY-MM') as year_month
        from suburbs_compare_after_092020
        where "sold_Date" > '2020-08-31'
        order by year_month
    ),
         grouped as (
             select suburb, year_month, round(avg(price), 2) as avg_price
             from select_month
             where type like 'Apartment%' and 
             beds = 2
             group by 1, 2
             order by 1, 2
         ),
         leftjoin as (
             select g1.*,
                    g2.year_month                     as latter_year_month,
                    g2.avg_price                      as latter_avg_price,
                    to_date(g1.year_month, 'YYYY-MM') as former_date,
                    to_date(g2.year_month, 'yyyy-mm') as latter_date
             from grouped as g1
                      left join grouped as g2
                                on g1.year_month < g2.year_month and
                                   g1.suburb = g2.suburb
             where to_date(g2.year_month, 'YYYY-MM') - to_date(g1.year_month, 'YYYY-MM') = 30
             or to_date(g2.year_month, 'YYYY-MM') - to_date(g1.year_month, 'YYYY-MM') = 31
             or to_date(g2.year_month, 'YYYY-MM') - to_date(g1.year_month, 'YYYY-MM') = 28
             order by g1.suburb, g1.year_month, g2.year_month
         )
    select suburb,
           year_month as former_year_month,
           avg_price as former_year_month,
           latter_year_month,
           latter_avg_price,
           concat(year_month, ' with ', latter_year_month)       as month_compared,
           round((latter_avg_price - avg_price) * 100 / avg_price, 2) as change_percentage
    from leftjoin;
'''

In [20]:
df_continues_compare = select(select3_vic)
df_continues_compare

,suburb,former_year_month,former_year_month,latter_year_month,latter_avg_price,month_compared,change_percentage
0,altona-vic-3018,2020-09,640000.00,2020-10,601714.29,2020-09 with 2020-10,-5.98
1,altona-vic-3018,2020-10,601714.29,2020-11,581428.57,2020-10 with 2020-11,-3.37
2,altona-vic-3018,2020-11,581428.57,2020-12,546875.00,2020-11 with 2020-12,-5.94
3,altona-vic-3018,2020-12,546875.00,2021-01,535000.00,2020-12 with 2021-01,-2.17
4,altona-vic-3018,2021-01,535000.00,2021-02,650250.00,2021-01 with 2021-02,21.54
...,...,...,...,...,...,...,...
195,st-kilda-vic-3182,2020-12,586829.19,2021-01,571166.67,2020-12 with 2021-01,-2.67
196,st-kilda-vic-3182,2021-01,571166.67,2021-02,590500.00,2021-01 with 2021-02,3.38
197,st-kilda-vic-3182,2021-02,590500.00,2021-03,676750.00,2021-02 with 2021-03,14.61
198,st-kilda-vic-3182,2021-03,676750.00,2021-04,656708.33,2021-03 with 2021-04,-2.96
199,st-kilda-vic-3182,2021-04,656708.33,2021-05,683423.08,2021-04 with 2021-05,4.07

In [21]:
# checking 
if len(set(df_continues_compare['suburb'].tolist())) == 32:
    print('Right')
else:
    print('Wrong')

Wrong

In [22]:
df_continues_compare.to_csv("../data/risk_management_results2.csv", index=False)

In [23]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@this_postgres')
name = 'risk_analysis_after_092020'
df_continues_compare.to_sql(name, engine, if_exists='replace')